{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Priority</th>
      <th scope="col">Due_Date</th>
      <th scope="col">Created_Date</th>
    </tr>
  </thead>
  <tbody>
    {% for todo in todos %}
        <tr>
            <td>{{ todo.id }}</td>
            <td>{{ todo.name }}</td>
            <td>{{ todo.description }}</td>
            {% if todo.priority == 'High' %}
                <td class="alert alert-danger">{{ todo.priority }}</td>
            {% elseif todo.priority == 'Medium'  %}
                <td class="alert alert-warning">{{ todo.priority }}</td>
            {% else  %}
                <td class="alert alert-success">{{ todo.priority }}</td>
            {% endif %}
            <td>{{ todo.dueDate | date("m/d/Y") }}</td>
            <td>{{ todo.createdDate | date("m/d/Y") }}</td>
        </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}